@import "tailwindcss";

@theme inline {
  --color-primary: #b7131a;
  --color-surface-variant: #e5e2e1;
  --color-on-primary-fixed-variant: #93000d;
  --color-surface-container-low: #f6f3f2;
  --color-on-surface: #1c1b1b;
  --color-secondary: #bc000a;
  --color-on-secondary-fixed-variant: #930005;
  --color-on-tertiary-container: #fffbff;
  --color-tertiary-fixed: #ffdbcc;
  --color-background: #fcf9f8;
  --color-surface-container: #f0eded;
  --color-outline-variant: #e4beb9;
  --color-on-secondary-container: #fffbff;
  --color-inverse-on-surface: #f3f0ef;
  --color-surface-container-highest: #e5e2e1;
  --color-tertiary-container: #c55000;
  --color-on-error-container: #93000a;
  --color-on-primary-fixed: #410002;
  --color-secondary-fixed-dim: #ffb4aa;
  --color-on-background: #1c1b1b;
  --color-surface-container-high: #eae7e7;
  --color-on-secondary: #ffffff;
  --color-surface: #fcf9f8;
  --color-primary-container: #db322f;
  --color-error-container: #ffdad6;
  --color-surface-tint: #bb171c;
  --color-on-surface-variant: #5b403d;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #fffbff;
  --color-surface-dim: #dcd9d9;
  --color-secondary-container: #e2241f;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-fixed: #410001;
  --color-outline: #906f6c;
  --color-on-tertiary: #ffffff;
  --color-inverse-primary: #ffb4ac;
  --color-surface-bright: #fcf9f8;
  --color-primary-fixed: #ffdad6;
  --color-tertiary-fixed-dim: #ffb694;
  --color-inverse-surface: #313030;
  --color-on-tertiary-fixed: #351000;
  --color-error: #ba1a1a;
  --color-tertiary: #9d3e00;
  --color-primary-fixed-dim: #ffb4ac;
  --color-on-error: #ffffff;
  --color-on-tertiary-fixed-variant: #7b2f00;
  --color-secondary-fixed: #ffdad5;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
  --font-sans: "Manrope", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html {
  background: #fcf9f8;
}

body {
  background: #fcf9f8;
  color: #1c1b1b;
  font-family: "Manrope", sans-serif;
}

a,
button,
input,
select,
textarea,
[role="button"] {
  touch-action: manipulation;
}

a,
button,
[role="button"] {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.glass-nav {
  backdrop-filter: blur(20px);
}

.editorial-shadow {
  box-shadow: 0px 10px 30px rgba(183, 19, 26, 0.06);
}

.gradient-action {
  background: linear-gradient(135deg, #e53935 0%, #ff6a00 100%);
}
